 <div>
            <table width="100%">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Author</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr (click)="onMailClicked(mail);" *ngFor="let mail of mails">
                        <td>{{mail.title}}</td>
                        <td>{{mail.sender}}</td>
                        <td>{{mail.date}}</td>
                        <td><a href="/email-detail">Detail</a></td>
                    </tr>
                   
                <tbody>
            </table>
<div *ngIf="!!selectedMailItem">
    <input [(ngModel)]="selectedMailItem.title"/>
</div>

   <div>